*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo-principal{
    position: relative;
 font-family: "carter";
    font-weight: bolder;
    color: white;

}
.titulo-login{
    color: white;
}
.formulario-login{
    color: white;
}

h1 {
    color: rgb(12, 90, 15);
}

.nav-enlace {
    display: inline-block;
    background: linear-gradient(grey, black);
    color: white;
    padding: 10px 50px;
    text-decoration: none;
    font-family: "carter";
    border-radius: 30px;
    border-style: groove;
    
}
.nav-enlace:hover {
    background: grey 
      
}
nav {
    background:black;
    padding: 20PX ;
    text-align: center;
}  
.botones1{
    color: black;
    justify-content: center;
    align-items: center;
}
.seccion1{
    background-image: url(../img/equipo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    Background-color: transparent;
    position: relative;
    padding: 40px;
  
}

.seccion1 h1 {
    position: relative;
    font-family: "carter";
    font-weight: bolder;
    
}

@font-face {
    font-family: "carter";
    src: url(CarterOne-Regular.ttf);
}


.botones2{
color: black;

}
.seccion2{
    background-image: url(../img/cancha2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 40px;
}
.seccion2 h1{
    position: relative;
    font-family: "carter";
    font-weight: bolder;

}
.botones0{
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "carter";
    font-weight: bolder;

    
    }
    .seccion2 h1{
        position: relative;
        font-family: "carter";
        font-weight: bolder;}
    .seccion0{
        background-image: url(../img/cancha2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 40px;
    }
    
   




 body{
    background-image: url(../img/cancha.jpg);
}
.link-torneo{
    color: azure;
    text-decoration: none;

}
.ver-ubicacion{
color: black;

      font-family: "carter";
   font-weight: bolder;}
.footer{
    position: relative;
    font-family: "carter";
    font-weight: bolder;

}



